{% extends "base.html" %}
{% block content %}
        <table style="table-layout: fixed; white-space: nowrap;">
            <caption>AtomicDex-Mobile</caption>
            <thead>
                <tr>
                    <th style="text-align: center;">Coin</th>
                    <th style="text-align: center;">URL</th>
                    <th>Status</th>
                    <th style="text-align: center;">Since</th>
                    <th>ElectrumX version</th>
                    <th colspan="2" style="text-align: center; font-size: medium;">Contacts (email,discord,github)</th>
                </tr>
            </thead>
            <tbody>
            {% for coin, urls in urlz.items() %}
                {% if coin in adexmob %}
                    {% for url in urls %}
                        <tr>
                            <td class="aligncenter">{{coin}}</td>
                            <td class="aligncenter"  style="width: 350px;">{{url['url']}}</td>
                            {% if url['current_status']['alive'] %}
                                <td style="background:green; text-align:center;">Alive!</td>
                                <td>{{ url['current_status']['uptime'] }}</td>
                            {% else %}
                                <td style="background:red; text-align:center;">Dead!</td>
                                <td>{{ url['current_status']['downtime'] }}</td>
                            {% endif %}

                            {% if url['current_status']['version'] %}
                            <td class="aligncenter">{{ url['current_status']['version'] }}</td>
                            {% else %}
                            <td class="aligncenter">Unknown</td>
                            {% endif %}

                            {% if url['contact']%}
                                {% for k,v in url['contact'].items() %}
                                    <td colspan="1" style="text-align: left; width:220px;">
                                        {% if 'discord' in k %}
                                            <div style="width: 200px; overflow: auto;">
                                                {{v}}
                                            </div>
                                        {% elif 'email' in k %} 
                                            <div style="width: 250px; overflow: auto;">
                                                {{v}}
                                            </div>
                                        {% elif 'github' in k %}
                                            <div style="width: 220px; overflow: auto;">
                                                <a href={{v}}>Github</a>
                                            </div>
                                    </td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td colspan="2" style="text-align: center; width:100px">-----------------------------------(None)-----------------------------------</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
