{% extends "base.html" %}
{% block content %}
    <table style="table-layout: fixed; white-space: nowrap;">
        <caption>AtomicDex-Mobile</caption>
        <thead>
            <tr>
                <th style="text-align: center;">Coin</th>
                <th style="text-align: center;">URL</th>
                <th>PROTO</th>
                <th>Status</th>
                <th style="text-align: center;">Since</th>
                <th>ElectrumX version</th>
                <th colspan="2" style="text-align: center; font-size: medium;">Contacts (email,discord,github)</th>
            </tr>
        </thead>
        <tbody>
        {% for coin, urls in urlz.items() %}
            {% if coin in adexmob %}
                {% for url in urls %}
                    <tr>
                        <td class="aligncenter">{{coin}}</td>
                        <td class="aligncenter"  style="width: 350px;">{{url['url']}}</td>
                        {% if url['protocol'] == 'SSL' %}
                            <td class="aligncenter">SSL</td>
                        {% else %}
                            <td class="aligncenter">TCP</td>
                        {% endif %}
                        {% if url['current_status']['alive'] == "true" %}
                            <td style="background:green; text-align:center;">Alive!</td>
                            <td>{{ url['current_status']['uptime'] }}</td>
                        {% else %}
                            <td style="background:red; text-align:center;">Dead!</td>
                            <td>{{ url['current_status']['downtime'] }}</td>
                        {% endif %}

                            <td class="aligncenter" style="width: 100px;">{{ url['current_status']['version'] }}</td>

                            {% if url['contact']%}
                                {% for k,v in url['contact'].items() %}
                                    <td colspan="1" style="text-align: left; width:170px;">
                                        {% if 'email' in k %}
                                            <div style="width: 230px; overflow: auto;">
                                                {{v}}
                                            </div>
                                        {% elif 'discord' in k %} 
                                            <div style="width: 80px; overflow: auto;">
                                                {{v}}
                                            </div>
                                        {% elif 'github' in k %}
                                            <div style="width: 60px; overflow: auto;">
                                                <a href={{v}}>Github</a>
                                            </div>
                                    </td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td colspan="2" style="text-align: center; width:100px;">--------------------(None)-------------------</td>
                            {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
{% endblock %}
