{% extends "base.html" %}
{% block content %}
    <div style="margin-left: 350px;">
        <div style="float:left; margin-right: 120px;">
            <h2>/api/electrums</h2>
            <p style="margin-left: 100px;">Get all available electrums status.</p>

            <h2>/api/adex-mob OR /api/adex-pro</h2>
            <p style="margin-left: 100px;">Get only adex-mob or adex-pro electrums.</p> 
            <p style="margin-left: 100px;">Here's json schema for your reference:</p>

            <pre>
                {
                    "AXE": [
                        {
                            "url": "electrum1.cipig.net:10057",
                            "contact": {
                                "email": "cipi(at)komodoplatform.com",
                                "discord": "cipi#4502"
                            },
                            "atomic_dex_mobile": true,
                            "current_status": {
                                "alive": true,
                                "version": "1.14.0",
                                "uptime": "Apr-23 03:40",
                                "downtime": 0
                            }
                        }
                    ],
                    "KMD": [{},{},...],
                    ...
                    ...
                }
            </pre>
        </div>

        <div style="margin-right: 250px;">
            <h2 style="padding-top: 23px;">/api/explorers</h2>
            <p>Get explorers statistics. Here's json schema for your reference:</p>

            <pre>
                {
                    "KMD": [
                        {
                            "url": "https://kmdexplorer.io/",
                            "current_status": {
                                "alive": true,
                                "uptime": "Apr-23 03:41",
                                "downtime": 0
                            }
                        }
                    ]
                }
            </pre>
        </div>
    </div>
{% endblock %}