{% extends "base.html" %}
{% block content %}
<div style="margin-left: 34%;">
    <table style="margin-top: 60px;">
        <caption>API ENDPOINTS</caption>
        <thead>
            <tr>
                <th>Endpoint</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/api/electrums">/api/electrums</a></td>
                <td> - Get all available electrums data.</td>
            </tr>
            <tr>
                <td><a href="/api/adex-mob">/api/adex-mob</a></td>
                <td> - Get AtomicDex-Mobile electrums data.</td>
            </tr>
            <tr>
                <td><a href="/api/adex-pro">/api/adex-pro</a></td>
                <td> - Get AtomicDex-Pro (Desktop) electrums data.</td>
            </tr>
            <tr>
                <td><a href="/api/explorers">/api/explorers</a></td>
                <td> - Get explorers data.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}