<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>EYELECTRUMX</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#5A7CAC">

    <meta name="description" content="Statistics for the electrumX servers">
    <meta name="keywords" content="electrumx, electrum, monitoring, atomicdex, kmd, komodo">

</head>
<body>
    <nav id="topnav">
        <div class="topnav-left" style="margin-left: 30%;">
            <a id="toplogo" href="/"><img src={{ url_for('static', filename='favicon/favicon-32x32.png') }} alt="Komodo Stats"></a>
            <ul class="topnavmenu topnav-mobile-expand">
                <li class="topnav-haschildren">
                    <input type="checkbox" id="drop-1">
                    <label for="drop-1" class="toggle">All Electrums &nabla;</label>
                    <a href="/" class="currentnav">All Electrums &nabla;</a>
                    <ul class="topnav-submenu topnav-mobile-expand">
                        <li><a href="/adex-mob">AtomicDex-Mobile</a></li>
                        <li><a href="/adex-pro">AtomicDex-Pro (Desktop)</a></li>
                    </ul>
                </li>
                <li><a href="/explorers">Explorers</a></li>
                <li><a href="/api">API</a></li>
            </ul>
        </div>
    </nav>
    <div id="headers">
        <h1>Komodo Platform ElectrumX server monitoring</h1>
        <h2>Started: 2020-06-25</h2>
        <h2>Last ping: {{ last_ping }}</h2>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
<script src="{{ url_for('static', filename='js/script.js') }}" language="javascript" type="text/javascript"></script>
</body>
</html>
