{% extends "base.html" %}
{% block content %}
    <table>
        <caption>Explorers</caption>
        <thead>
            <tr>
                <th>Coin</th>
                <th>URL</th>
                <th>Status</th>
                <th>Since</th>
            </tr>
        </thead>
        <tbody>
        {% for coin, urls in urlz.items() %}
            {% for url in urls %}
            <tr>
                <td style="text-align: center;">{{coin}}</td>
                <td style="text-align: center;">{{url['url']}}</td>
                {% if url['current_status']['alive'] %}
                    <td style="background:green">Alive!</td>
                    <td>{{ url['current_status']['uptime'] }}</td>
                {% else %}
                    <td style="background:red">Dead!</td>
                    <td>{{ url['current_status']['downtime'] }}</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}