{% extends "base.html" %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th style="text-align: center;">Coin</th>
                <th style="text-align: center;">URL</th>
                <th>Status</th>
                <th style="text-align: center;">Since</th>
                <th>ElectrumX version</th>
                <th colspan="2" style="text-align: center; max-width: 100px;">Contact</th>
            </tr>
        </thead>
        <tbody>
        {% for coin, urls in electrum_urls.items() %}
            {% for url in urls %}
            <tr>
                <td class="aligncenter">{{coin}}</td>
                <td class="aligncenter">{{url['url']}}</td>
                {% if url['current_status']['alive'] %}
                    <td style="background:green">Alive!</td>
                    <td>{{ url['current_status']['uptime'] }}</td>
                {% else %}
                    <td style="background:red">Dead!</td>
                    <td>{{ url['current_status']['downtime'] }}</td>
                {% endif %}

                {% if url['current_status']['version'] %}
                <td class="aligncenter">{{ url['current_status']['version'] }}</td>
                {% else %}
                <td class="aligncenter">Unknown</td>
                {% endif %}
                {% if url['contact'] %}
                    {% for k,v in url['contact'].items() %}
                        <td> | {% if 'discord' in k %}Discord: {{ v }} | {% elif 'email' in k %} Email: {{ v }} | {% elif 'github' in k %} <a href={{ v }}>Github</a> | {% endif %}</td>
                    {% endfor %}
                {% else %}
                    <td>| No contact info |</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}